@import "../utils/var";
@import "../utils/mixins";

.info-services {
    display: flex;
    flex-direction: column;
    min-width: $min-width;
    background-color: #F8F8F8;
    font-family: $font-lakes-regular;
    color: #1B1C21;
    font-size: 14px;
    letter-spacing: 0.2px;
    @media (min-width: $medium) {
        flex-direction: row;
    }
    &__item {
        padding: 0px 16px;
        @media (min-width: $medium) {
            padding: 0;
        }
        @media (min-width: $medium) {
            margin: 0px 24px;
        }
        @media (min-width: $large) {
            margin: 0px 32px;
        }
    }
}
.excerpt {
    &__desc {
        height: 110px;
        overflow: hidden;
        @media (min-width: $medium) {
            height: 160px;
        }
    }
    &__icon {
        position: absolute;
        left: -24px;
        bottom: 4px;
        color: #B8FFEC;
    }
    &__link {
        display: block;
        position: relative;
        margin: 16px auto 16px 32px;
        font-family: $font-lakes-medium;
        font-size: 16px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        text-decoration: none;
    }
}
.thumb-block {
    min-width: 320px;
    height: 180px;
    //background-image: url('../img/main/picture/cps-large.png');
    background-size: cover;
    @media (min-width: $medium) {
        min-width: 360px;
        height: 210px;
        border-radius: 8px;
    }
    @media (min-width: $large) {
        min-width: 530px;
        height: 310px;
        border-radius: 8px;
    }
}