@import "../fonts/fonts";

$font-lakes-bolt: 'TT Lakes Bold';
$font-lakes-regular: 'TT Lakes Regular';
$font-lakes-medium: 'TT Lakes Medium';


$min-width: 320px;
$middle-width: 768px;
$max-width: 1120px;
$small: 318px;
$medium: 767px;
$large: 1115px;

@media (min-width: $medium) {
    $amount-item: 8;
}


@media (min-width: $large) {
    $amount-item: 10;
}