<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <div class="header__menu menu">
                <div class="menu__item"><img src="../img/header/icons/burger.png" alt="burger" class="menu__burger-icon"></div>
                <div class="menu__item logo-group"><img src="../img/header/logo/Group.png" alt="logo_group" class="logo-group__logo"></div>
                <div class="menu__item link-menu">
                    <div class="link-menu__item"><img src="../img/header/icons/call.png" alt="repair" class="call"></div>
                    <div class="link-menu__item"><img src="../img/header/icons/chat.png" alt="repair" class="chat"></div>
                    <div class="link-menu__item"><img src="../img/header/icons/profile.png" alt="repair" class="profile"></div>
                    <div class="link-menu__item"><img src="../img/header/icons/repair.png" alt="repair" class="repair"></div>
                    <div class="link-menu__item"><img src="../img/header/icons/checkstatus.png" alt="checkstatus" class="checkstatus"></div>
                </div>
            </div>
        </div>
    </header>
    <nav class="menu">
        <div class="menu__content menu-container">
            <div class="menu-container__caption caption">Услуги и сервисы</div>
            <div class="menu-container__status-list status-list">
                <div class="status-list__item"><a href="#" class="status-list__link">Оставить заявку</a><img src="../img/header/icons/repair.png" alt="repair" class="repair"></div>
                <div class="status-list__item"><a href="#" class="status-list__link">Статус ремонта</a><img src="../img/header/icons/checkstatus.png" alt="checkstatus" class="checkstatus"></div>
            </div>
            <div class="menu-container__list price-list">
                <div class="price-list__item price-list__item--active"><span class="price-list__item-text">Ремонтируемые устройства</span></div>
                <div class="price-list__item"><span class="price-list__item-text">Дополнительные услуги</span></div>
                <div class="price-list__item"><span class="price-list__item-text">Цены на услуги</span></div>
                <div class="price-list__item"><span class="price-list__item-text">Специальные цены</span></div>
                <div class="price-list__item"><span class="price-list__item-text">Адреса сервисных центров</span></div>
                <div class="price-list__item"><span class="price-list__item-text">Отзывы</span></div>
            </div>
        </div>
    </nav>
    <div class="page">
        <div class="page__info-services info-services">
            <div class="info-services__item excerpt">
                <div class="excerpt__desc">
                    <p>Мы являемся авторизованным сервисным центром по ремонту техники Dell. 
                    Только у нас вы можете отремонтировать свой ноутбук Dell с официальной гарантией производителя.</p>
                        
                    <p>Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. 
                     Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.</p>   
                </div> 
                <a href="#" class="excerpt__link">
                    <i class="excerpt__icon fa fa-angle-double-down" aria-hidden="true"></i>
                    Читать далее
                </a>
            </div>
            <div class="info-services__item thumb-block"> 
            </div>
        </div>
    </div>
</body>
</html>