<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar__container sidebar-content">
            <div class="sidebar-content__header header-sidebar">
                <button type="button" class="header-sidebar__item header-sidebar-btn-logo"><img src="../img/sidebar/icons/close.png" alt="" class="btn-logo__close"></button>
                <div class="header-sidebar__item pic-logo"><img src="../img/sidebar/logo/Group.png" alt="" class="pic-logo__logo"></div>
                <button type="button" class="header-sidebar__item header-sidebar-btn-logo"><img src="../img/sidebar/icons/search.png" alt="" class="btn-logo__search"></button>
            </div>
            <ul class="sidebar-content__menu-list menu-list">
                <li class="menu-list__item"><a href="#" class="menu-list__item-link menu-list__item-link--active">Ремонт техники</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Услуги и сервисы</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Корпопративным клиентам</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Продавцам техники</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Партнерам</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Производителям</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Наши сервисные центры</a></li>
                <li class="menu-list__item"><a href="#" class="menu-list__item-link">Контакты</a></li>
            </ul>
            <div class="sidebar-content__footer footer-sidebar">
                <div class="footer-sidebar__btn-list btn-list">
                    <button type="submit" class="btn-list__item"><img src="../img/sidebar/icons/call.png" alt="pic-phone" class="btn-logo__close"></button>
                    <button type="submit" class="btn-list__item"><img src="../img/sidebar/icons/chat.png" alt="pic-chat" class="btn-logo__close"></button>
                    <button type="submit" class="btn-list__item"><img src="../img/sidebar/icons/profile.png" alt="pic-profile" class="btn-logo__close"></button>
                </div>
                <div class="footer-sidebar__contacts block-contacts">
                    <span class="block-contacts__mail">mail@cps.com</span>
                    <span class="block-contacts__phone">8 800 890 89 00</span>
                </div>
                <div class="footer-sidebar__language change-language">
                    <span class="change-language__item change-language__item--active">RU</span>
                    <span class="change-language__item">EN</span>
                    <span class="change-language__item">CH</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>